ul {
    list-style-type: none;
}

.bg-grey {
    background-color: #f6f6f6;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail>img {
    display: block;
    max-width: 350px;
    max-height: 350px;
}
